page-register-page {
  .reg-title{
    color: #FFF;
    text-shadow: 0px 0px 10px #000000;
  }

  .scroll-content {
    background: #89cef2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #89cef2, #0074dc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #89cef2, #0074dc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0px !important;
  }

  img {
    width: 35%;
    height: auto;
    margin: 0 auto;
  }

  ion-row {
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  ion-item {
    padding-left: 10px !important;
    margin-bottom: 10px;
    background-color: #f6f6f6;
    font-size: 0.9em;
  }

  ion-list {
    margin: 0;
  }

  .login-button {
    padding: 30px;
    width: 100%;
    font-size: 0.9em;
    background-color: #0074dc;
  }

  .register-button{
    padding: 30px;
    width: 100%;
    font-size: 0.9em;
    background-color: #ff7a00;
  }

  #button-panel, #form-panel{
    padding-top: 0px;
  }

  .input{
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.55);
  }

  ion-input{
    background: rgba(255, 255, 255, 0) !important;
  }
}
